
body{
    margin: 20px;
}
.head ul {
 
    text-decoration: none;

  
    text-align: center !important;
}.head{
    display: inline-block!important;
}
.head tr th ul li a{
    text-decoration: none;
    padding: 5px;
    font-size: 17px;
}.head tr th ul li {
   
    list-style-type: none;
    display: inline-block;
    padding: 10px;
}
.head tr th a:hover{
    text-decoration: underline !important;
    font-weight: bold !important;
  
}.ul1{
  text-align: center !important;

   
    padding-top: 20px;
}.logo{
    width: 230px;
    padding-top: 20px;
}.viloyat{
    text-align: center;
padding-left: 0px;
}.head{
    padding: 0px 5%;
}
.companiya1 .logo1{
    width: 190px;
    height: 65px;
}.companiya1{
    list-style-type: none;
}.compName{
    background: #e5e5e5;
    border-top: 2px solid rgb(187, 187, 187);
    border-bottom: 2px solid rgb(187, 187, 187);
    text-align: center;
    margin-bottom: 0px;
}.companiya1 .li1{
    padding: 10px 0px;
    text-align: left;
    border-bottom: 2px solid rgb(187, 187, 187);
    
}.table1{
    float: center;
    text-align: center;
    margin-right: 0px!important;
}.companiya2{
    list-style-type: none;
   
}.companiya2 .logo1{
    width: 300px;
    
}.companiya2 .li1{
    padding: 10px 0px;
    text-align: left;
    border-bottom: 2px solid rgb(187, 187, 187);
}.logo3, .logo4,.logo5 {
    width: 190px;
}
.logo1{
    padding-bottom: px;
}
.logo2{
    width: 190px;
    height: 65px;
}
.logo3{
    width: 190px;
    height: 65px;
}
.logo4{
    width: 190px;
    height: 65px;
}
.logo5{
    width: 190px;
    height: 65px;
}table{
    display: inline-block!important;
    max-width: ;
}
a{
     color: #42f557
}
a:hover{
     color: #f5dd42;
     
}